.noticia {
	padding-top: 7.5vw;
}


.noticia .edit-item img {
    width: 6vw;
}

.noticia h1 {
    margin: 0vw;
    font-size: 5vw;
    font-weight: 700;
    font-family: PridiBold;
    color: #294d60;
}

.noticia .centro{
    background-color: #345;
    text-align: center;
    justify-content: center;
}

.noticia img {
	max-height: 47.2vw;
}

.noticia h4 {
    color: #727176;
    font-size: 2.5vw;
    margin: 0vw;
    margin-bottom: 3vw;
    font-weight: 400;
    font-family: Pridi;
}

.noticia h5 {
	color: #727176;
    font-size: 2.5vw;
    margin: 0vw;
	font-weight: normal;
    font-family: Pridi;
}

.noticia p {
	color: #000;
	font-size: 5vw;
	font-weight: normal;
    font-family: Lateef;
}

a {
	text-decoration: none;
}
