<div class="noticia" *ngIf="noticia | async">
	<a class="edit-item" *ngIf="auth.loggedIn() | async" routerLink="{{'/noticia/edit/'+noticia.id}}" (click)="messageService.clear()"><img src="../assets/default-image.png" alt=""></a>
	<h1 [class.redux]="auth.loggedIn()">{{ noticia.titulo }}</h1>
	<h4 *ngIf="noticia.dataEdicao && noticia.dataEdicao !== noticia.dataCriacao | async">
		Ultima edição {{ noticia.dataEdicao.fromNow() }}
	</h4>
	<img class="center" src="{{ noticia.imagemDestaque ? noticia.imagemDestaque : '../assets/default-image.png' }}" alt="{{noticia.titulo}}"><br>
	<h5>Criado em {{ noticia.dataCriacao.format('LLL') }}</h5>
	<p>{{ noticia.conteudo }}</p>
</div>
<app-page-not-found *ngIf="!noticia | async"></app-page-not-found>
