<h2>Jogos</h2>
<ul class="jogos">
	<div class="busca">
		<button (click)="pesquisaAvancada(termoBusca)" class="searchbtn">🔍</button><input type="text" [(ngModel)]="termoBusca" placeholder="Pesquisar..."><button (click)="limparBusca()">Limpar</button>
	</div>
	<div class= "Settings">
		<img src="../../assets/organização.png" alt="Organização: ">
		<select (change)="organizar()" [(ngModel)]="metodoOrganizacao">
		  <option selected="selected" value="A-Z">A-Z</option>
		  <option value="Min. Jogadores">Min. Jogadores</option>
		  <option value="Max. Jogadores">Max. Jogadores</option>
		  <option value="Tempo de Jogo">Tempo de Jogo</option>
		</select>
		<button (click)="toggleInverter()"  class="Invbtn">{{ inverterOrdem ? "Inversa" : "Normal" }}</button>
		<button (click)="toggleFiltros()" class="PAbtn"><p class="picon">🔍</p><p class="ptext">Pesquisa<br/>Avançada</p></button><br>
	</div>
	<div class="filtros" *ngIf="mostrarFiltros">
		<button (click)="limparFiltros()">Limpar</button>
		<h3>Número de Jogadores: {{ ignorarJogadores || numeroJogadores === -1 ? 'Qualquer um' : (numeroJogadores > 30 ? '30+' : numeroJogadores) }}</h3>
		<div *ngIf="!ignorarJogadores">
			<input [(ngModel)]="numeroJogadores" type="range" min="1" max="31" step="1" value="{{numeroJogadores}}"><br>
		</div>
		<input type="checkbox" [(ngModel)]="ignorarJogadores"> <p>Ignorar número de jogadores</p><br>

		<h3>Tempo de Jogo: {{ ignorarTempoJogo || tempoJogo === -1 ? 'Qualquer um' : (tempoJogo < 10 ? "< 10 minutos" : (tempoJogo > 600) ? "> 10 horas" : tempoJogo+' minutos') }}</h3>
		<div *ngIf="!ignorarTempoJogo">
			<input [(ngModel)]="tempoJogo" type="range" min="0" max="610" step="10" value="{{tempoJogo}}"><br>
		</div>
		<input type="checkbox" [(ngModel)]="ignorarTempoJogo"> <p>Ignorar tempo de jogo</p><br>

		<h3>Categorias</h3>
		<app-categoria-select></app-categoria-select>
		<button (click)="pesquisaAvancada(termoBusca)">Aplicar</button>
	</div>
	<h3 *ngIf="jogos.length <= 0">Jogos não encontrados!<br>Tente escolher outros termos ou filtros</h3>
	<li *ngFor="let jogo of jogos | async" [class.selected]="jogo === jogoSelecionado" (click)="onSelect(jogo)">
		<a routerLink="{{ '/jogo/'+jogo.id }}" (click)="messageService.clear()">
			<img class="iconeJogo" src="{{ jogo.imagemJogo }}" alt="">
			<div class="jogoinfo">
				<h3>{{ jogo.nome | uppercase }} <img *ngIf="jogo.emDestaque" src="../../assets/game.png" alt="Em Destaque" class="dico" ></h3><br/>
				<h4><img class="tico" src="../../assets/time.png" alt="Organização: ">{{ jogo.tempoJogo+'min'}}</h4>
				<h4><img class="pico" src="../../assets/players.png" alt="Organização: ">{{(jogo.minJogadores !== jogo.maxJogadores ? jogo.minJogadores+' a ' : '') + (jogo.maxJogadores > 30 ? "30+" : jogo.maxJogadores)+' jogadores' | lowercase }}</h4>
				<h4 *ngFor="let categoria of jogo.categorias | async" class="cat">{{ categoria.nome }}</h4>
			</div>
		</a>
		<a routerLink="{{ '/jogo/edit/'+jogo.id }}" *ngIf="auth.loggedIn()" (click)="messageService.clear()"><img _ngcontent-c15="" alt="" src="../assets/edititem.png"></a>
	</li>
</ul>
<a routerLink="/jogo/edit/-1" *ngIf="auth.loggedIn()" (click)="messageService.clear()"><img src="../assets/addjogo.png" alt=""></a>
