<h2>Jogos</h2>
<ul class="jogos">
	<div class="busca">
		<input type="text" [(ngModel)]="termoBusca" placeholder="Pesquisar..."><button (click)="limparBusca()">Limpar</button><button (click)="pesquisaAvancada(termoBusca)">Pesquisar</button>
	</div>
	<img src="" alt="Organização: ">
	<select (change)="organizar()" [(ngModel)]="metodoOrganizacao">
	  <option selected="selected" value="A-Z">A-Z</option>
	  <option value="Min. Jogadores">Min. Jogadores</option>
	  <option value="Max. Jogadores">Max. Jogadores</option>
	  <option value="Tempo de Jogo">Tempo de Jogo</option>
	</select>
	<button (click)="toggleInverter()">{{ inverterOrdem ? "Inversa" : "Normal" }}</button>
	<button (click)="toggleFiltros()">Pesquisa Avançada</button><br>
	<div class="filtros" *ngIf="mostrarFiltros">
		<button (click)="limparFiltros()">Limpar</button>
		<h3>Número de Jogadores: {{ ignorarJogadores || numeroJogadores === -1 ? 'Qualquer um' : (numeroJogadores > 30 ? '30+' : numeroJogadores) }}</h3>
		<div *ngIf="!ignorarJogadores">
			<input [(ngModel)]="numeroJogadores" type="range" min="1" max="31" step="1" value="{{numeroJogadores}}"><br>
		</div>
		<input type="checkbox" [(ngModel)]="ignorarJogadores"> Ignorar número de jogadores<br>

		<h3>Tempo de Jogo: {{ ignorarTempoJogo || tempoJogo === -1 ? 'Qualquer um' : (tempoJogo < 10 ? "< 10 minutos" : (tempoJogo > 600) ? "> 10 horas" : tempoJogo+' minutos') }}</h3>
		<div *ngIf="!ignorarTempoJogo">
			<input [(ngModel)]="tempoJogo" type="range" min="0" max="610" step="10" value="{{tempoJogo}}"><br>
		</div>
		<input type="checkbox" [(ngModel)]="ignorarTempoJogo"> Ignorar tempo de jogo<br>

		<h3>Categorias</h3>
		<app-categoria-select></app-categoria-select>
		<button (click)="pesquisaAvancada(termoBusca)">Aplicar</button>
	</div>
	<h3 *ngIf="jogos.length <= 0">Jogos não encontrados!<br>Tente escolher outros termos ou filtros</h3>
	<li *ngFor="let jogo of jogos" [class.selected]="jogo === jogoSelecionado" (click)="onSelect(jogo)">
		<a routerLink="{{ '/jogo/'+jogo.id }}" (click)="messageService.clear()">
			<img class="iconeJogo" src="{{ jogo.imagemJogo }}" alt="">
			<h3>{{ jogo.nome | uppercase }} <img *ngIf="jogo.emDestaque" src="" alt="Em Destaque"></h3>
			<h4>{{ jogo.tempoJogo+'min - '+ (jogo.minJogadores !== jogo.maxJogadores ? jogo.minJogadores+' a ' : '') + (jogo.maxJogadores > 30 ? "30+" : jogo.maxJogadores)+' jogadores' | lowercase }}</h4>
		</a>
		<a routerLink="{{ '/jogo/edit/'+jogo.id }}" *ngIf="auth.loggedIn()" (click)="messageService.clear()">Edit</a>
	</li>
</ul>
<a routerLink="/jogo/edit/-1" *ngIf="auth.loggedIn()" (click)="messageService.clear()">Adicionar Jogo</a>