<div class="tab-menu-mobile">
	<header>
		<h1>Igrejota</h1>
		<button class="login-button" (click)="toggleMenu()"><img class="dropdown-icon" *ngIf="auth.loggedIn()" src="../assets/default-image.png" alt=""><img class="login-icon" *ngIf="!auth.loggedIn()" src="../assets/default-image.png" alt=""><br>{{ !auth.loggedIn() ? "Entrar" : "" }}</button>
	</header>
	<div class="dropdown-menu" *ngIf="mostrarMenu">
		<ul *ngIf="auth.loggedIn()">
			<li>
				<button [disabled]="true" class="menu-item-mobile">{{ auth.getLoggedUser() | uppercase }}</button>
			</li>
			<li>
				<button class="menu-item-mobile" (click)="goToGerenciarPerfil()">Gerenciar Perfil</button>
			</li>
			<li>
				<button class="menu-item-mobile" (click)="goToGerenciarApp()">Gerenciar Aplicativo</button>
			</li>
			<li>
				<button class="menu-item-mobile" (click)="sair()">Sair</button>
			</li>
		</ul>
		<app-login *ngIf="!auth.loggedIn()"></app-login>
	</div>
</div>
<app-messages></app-messages>