@font-face{
  font-family: BalooRegular;
  src: url("../../fonts/Baloo-Regular.ttf");
  font-weight: bold;
}
@font-face{
  font-family: RoundRegular;
  src: url("../../fonts/Round.ttf");
  font-weight: lighter;
}
.tab-menu-mobile ul {
  margin-top: 0;
  display: block;
  list-style-type: none;
  justify-content: center;
}

.tab-menu-mobile header {
  height: 14.72vw;
  justify-content: center;
}

.tab-menu-mobile h1 {
	float: left;
	width: 66vw;
  margin-left: 17vw;
	text-align: center;
	color: #FFEADD;
	font-family: RoundRegular;
	font-weight: lighter;
	font-size: 6.5vw;
}

.menu-item-mobile {
  width: 90.7vw;
  margin-left: -5.5vw;
  text-align: left;
  background-color: #00A6C4;
  color: #FFEADD;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login-button {
    width: 17vw;
    height: 14.72vw;
    background-color: #00a6c4;
    font-size: 4.5vw;
    border: none;
    font-family: BalooRegular;
    padding: 1vw 6vw;
    color: #ffeadd;
    line-height: 1em;
    position: fixed;
    top: 0vw;
}

.back-button {
    float: left;
    width: 17vw;
    height: 14.72vw;
    background-color: #00a6c4;
    font-size: 4.5vw;
    border: none;
    font-family: BalooRegular;
    padding: 1vw 6vw;
    color: #ffeadd;
    line-height: 1em;
    position: fixed;
    top: 0vw;
}

.login-button:hover {
  background-color: #294D60;
}

br{
  letter-spacing: 0px;
  word-spacing: 0px;
}

.tab-menu-mobile {
  background-color: #00A6C4;
  width: 100vw;
}

.login-icon {
  max-width: 6vw;
  max-height: 6vw;
}

/*@media screen and (min-width: 550px){
	.tab-menu-mobile header {
		height: 60px;
  		justify-content: flex-start;
	}

	.tab-menu-mobile h1 {
		width: 435px;
		margin-left: 0px;
		font-size: 1.8em;
	}
	.menu-item-mobile {
		width: 550px;
  		margin-left: -34px;
	}
	.login-icon {
 		max-width: 20px;
 		max-height: 20px;
	}
	.login-button {
		width: 90px;
		height: 60px;
  		font-size: 1.4em;
	}
	.tab-menu-mobile {
		width: 550px;
	}
	.tab-menu-mobile ul ] {
  		justify-content: flex-start;
	}
}
*/