@font-face{
  font-family: BalooRegular;
  src: url("../../fonts/Baloo-Regular.ttf");
  font-weight: bold;
}
@font-face{
  font-family: RoundRegular;
  src: url("../../fonts/Round.ttf");
  font-weight: lighter;
}
.tab-menu-mobile ul {
  margin-top: 0;
  margin-left: -5.5vw;
  display: block;
  list-style-type: none;
  justify-content: center;
}

.tab-menu-mobile li {
  border: 8px solid #294D60;
  background-color: #294D60;
}

.tab-menu-mobile header {
  height: 14.72vw;
  justify-content: center;
}

.tab-menu-mobile h1 {
	float: left;
	width: 66vw;
  margin-left: 17vw;
	text-align: center;
	color: #FFEADD;
	font-family: RoundRegular;
	font-weight: lighter;
	font-size: 6.5vw;
}

.menu-item-mobile {
  width: 62vw;
  border-radius: 2vw;
  background-color: #00A6C4;
  color: #FFEADD;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3.5vw;
  font-family: BalooRegular;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.sair {
  background-color: #DF704A;
  margin-bottom: 5vw;
  margin-top: 5vw;
}

.menu-item-mobile:hover {
  background-color: #FFEADD;
  color: #000;
}

h3.menu-item-mobile {
  padding-left: 2vw;
  text-align: center;
  background-color: #294D60;
}

.login-button {
    width: 17vw;
    height: 14.72vw;
    background-color: #00a6c4;
    font-size: 4.5vw;
    border: none;
    font-family: BalooRegular;
    padding: 1vw 6vw;
    color: #ffeadd;
    line-height: 1em;
    position: fixed;
    transition: background-color 0.5s ease;
    top: 0vw;
}

.back-button {
    float: left;
    width: 17vw;
    height: 14.72vw;
    background-color: #00a6c4;
    font-size: 4.5vw;
    border: none;
    font-family: BalooRegular;
    padding: 1vw 6vw;
    color: #ffeadd;
    transition: background-color 0.5s ease;
    line-height: 1em;
    position: fixed;
    top: 0vw;
}

.back-button:hover {
  background-color: #294D60;
}
.login-button:hover {
  background-color: #294D60;
}

br{
  letter-spacing: 0px;
  word-spacing: 0px;
}

.tab-menu-mobile {
  background-color: #00A6C4;
  width: 100vw;
  position: fixed;
  top: -1vw;
  left: 0vw;
}

.login-icon {
  max-width: 6vw;
  max-height: 6vw;
}
.dropdown-menu{
  background-color: #000000aa;
  text-align: center;
  display:block;
  justify-content: center;
  left: 0;
  right: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  font-family: Pridi;
  font-size: 4vw;
  color: #EFE0D0;
  position: absolute;
  margin-left: -7.5vw;
}
.dropdown-menu ul{
  margin-top: 19vh;
  margin-bottom: 30vh;
}
