@font-face{
  font-family: BalooRegular;
  src: url("../../fonts/Baloo-Regular.ttf");
}
@font-face{
  font-family: Pridi;
  src: url("../../fonts/Pridi-Regular.ttf");
  font-weight: bold;
}
@font-face{
  font-family: PridiBold;
  src: url("../../fonts/Pridi-SemiBold.ttf");
}
@font-face{
  font-family: Lateef;
  src: url("../../fonts/LateefRegOT.ttf");
}

h2 {
  font-family: BalooRegular;
  color: #294D60;
  font-size: 4vw;
}

.icon-dice {
	height:6.5vw;
	width:9vw;
}

.icon-search {
	
}
.section-header {
	height:6vw;
}
.section-header h1{
	margin: 0px;
	margin-top: 1vw;
	height:6vw;
	width: 65vw;
	font-family: BalooRegular;
}


input {
	border: 0.5vw solid #BE6646;
	border-radius: 2vw;
	border-color: #BE6646;
	height: 6vw;
	margin-top: 2vw;
	padding-left: 3.1vw;
	padding-right: 3.1vw;
	margin-left: 1.9vw;
	margin-right: 1.9vw;
	width: 58vw;
	font-size: 4vw;
	color: #BE6646;
}

.jogos-destaque {
	height: 60vw;
	overflow-x: hidden;
	display: inline-block;
}

.jogos {
	margin-top: 1vw;
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
}

.jogos li {
	float: left;
	display: block;
	height: 22vw;
	width: 83vw;
	padding-bottom: 2vw;
	margin-bottom: 1vw;	
}

.jogos li:hover{
	background-color: #EFE0D0;
}

.jogos h3 {
	margin-left: 1vw;
	margin-top: 0;
	margin-bottom: 0;
  font-family: BalooRegular;
	padding-bottom: 0.5vw;
	font-size: 3.5vw;
	font-weight: bold;
	color: #294D60;
}

.searchbtn{
    font-family: "Segoe UI Symbol";
    font-size: 6vw;
	margin:0px;
	height: 10vw;
	background-color: transparent;
	border: solid 0;
	transition: background-color 0.2s, color 0.2s;
    color:#BF6646;
}

.searchbtn:hover{
	background-color: #F7AA71;
	color:#000;
}
.iconeJogo{
	height: 15vw;
	width: 25vw;
	float: left;
	text-align: center;
	justify-content: center;
	background-color: #345;
}
img.iconeJogo{
	height: 15vw;
	width: auto;
	float: none;
}

a {
	text-decoration: none;
}

.info-destaque {
	height: auto;
	float:left;
	width: 55vw;
	display: block;
}

.jogo-info {
	padding-left: 2.2vw;
	padding-top: 0;
	padding-bottom: 0.5vw;
	margin-top: 0;
	margin-bottom: 0;
	height: 5vw;
	float:left;
	font-size: 3vw;
	line-height: 5vw;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
  	font-weight: normal;
  	display: inline-flex;
  	justify-content: center;
  	font-family: Pridi;
}

.jogo-info-icon {
	max-width: 5vw;
	max-height: 5vw;
	padding-right: 1vw;
}
