@font-face{
  font-family: BalooRegular;
  src: url("../../fonts/Baloo-Regular.ttf");
}
@font-face{
  font-family: Pridi;
  src: url("../../fonts/Pridi-Regular.ttf");
  font-weight: bold;
}
@font-face{
  font-family: PridiBold;
  src: url("../../fonts/Pridi-SemiBold.ttf");
}
@font-face{
  font-family: Lateef;
  src: url("../../fonts/LateefRegOT.ttf");
}
.icon-news {
	
}
h1{
  font-family: BalooRegular;
}

.noticias {
	list-style-type: none;
	padding-left:0px;
	margin-top: 1vw;
}

.noticias li{
	display:inline-block;
	width: 88vw;
	padding-bottom:2vw; 
	padding-top:2vw; 
	padding-left:1vw; 
	padding-right:1vw; 
}

.noticias li:hover{
	background-color: #EFE0D0;
}

.listico{
	margin-top: 1.5vw;
	width: 6.5vw;
	height: 6.5vw;
	float:left;
}

a.not{
	width: 88vw;
	margin: 0px;
	font-size: 3vw;
  	display:block;
}
.noticias a{
 	text-decoration: none;
}
a.not .notnome{
	font-family: PridiBold;
	height: 10vw;
  	color:	#294D60;
	float: left;
	margin: 0px;
	margin-left: 2vw;
	padding: 0px;
	width: 55vw;
	font-size: 4.2vw;
  	display: block;
  	line-height: 4.5vw;
}
a.not .nottime{
  	font-family: Lateef;
	height: 10vw;
  	color:	#555;
	float: right;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	width: 15vw;
	font-size: 4.5vw;
  	line-height: 4.5vw;
  	display: block;
}