<footer>
	<nav class="tab-menu-mobile">
		<ul>
			<li><button (click)="goToAcervo()"><img class="tab-icon" src="" alt=""><br>Acervo</button></li>
			<li><button (click)="goToNoticias()"><img class="tab-icon" src="" alt=""><br>Notícias</button></li>
			<li><button (click)="goToCalendario()"><img class="tab-icon" src="" alt=""><br>Calendário</button></li>
			<li *ngIf="bolsista"><button (click)="goToEdit()"><img class="tab-icon" src="" alt="../assets/default-image.png"><br>Notícias</button></li>
		</ul>
	</nav>
</footer>