.tab-menu-mobile ul {
  width: 100vw;
  bottom: 0;
  padding-left: 0;
  margin: 0;
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
}

footer {
	width: 100vw;
  height: 15.41vw;
}

.unselected {
  background-color: #00A6C4;
  color: #EEDFCF;
}

.tab-menu-mobile button {
	width: 25vw;
  height: 15.41vw;
	padding-right: 2.36vw;
  padding-left: 2.36vw;
  text-align: center;
  font-size: 2.2vw;
  border: none;
  font-weight: bolder;
}

.tab-icon {
	max-width: 7vw;
	max-height: 7vw;
}