<div class="jogo" *ngIf="jogo">
	<a routerLink="{{ '/jogo/edit/'+jogo.id }}" *ngIf="auth.loggedIn()" (click)="messageService.clear()">Edit</a>
	<h1>{{ jogo.nome }}</h1><img *ngIf="jogo.emDestaque" src="" alt="Em destaque"><br>
	<img src="{{ jogo.imagemJogo }}" alt="Capa do Jogo"><br>
	<h4><img class="icone" src="" alt="">{{ (jogo.minJogadores !== jogo.maxJogadores ? jogo.minJogadores+' a ' : '') + (jogo.maxJogadores > 30 ? "30+" : jogo.maxJogadores)+' jogadores' }}</h4>
	<h4><img class="icone" src="" alt="">{{ jogo.tempoJogo }} minutos</h4>
	<h4 *ngFor="let categoria of jogo.categorias">{{ categoria.nome }}</h4>
	<p>{{ jogo.descricao }}</p>
	<a *ngIf="jogo.linkManual" href="{{ jogo.linkManual }}"><img src="" alt="">Manual</a>
	<p *ngIf="!jogo.linkManual">Não possui manual cadastrado</p>
	<br>
	<a *ngIf="jogo.linkDesenvolvedor" href="{{ jogo.linkDesenvolvedor }}"><img src="" alt="">Link útil</a>
	<p *ngIf="!jogo.linkDesenvolvedor">Não existem links úteis</p>
</div>
<app-page-not-found *ngIf="!jogo"></app-page-not-found>
