.login {
	background-color: #004C60;
	color: #EEDFCF;
	margin-top: -3.82vw;
  	height: 50vw;
}

.login h1 {
	width: 63vw;
	font-weight: bolder;
	font-size: 5.6vw;
	padding-top: 7.6vw;
	text-align: center;
}

.login div {
	width: 63vw;
	font-size: 4vw;
	font-weight: normal;
	display: block;
}

.login input {
	border: 0.5vw solid #BE6646;
	border-radius: 2vw;
	border-color: #BE6646;
	height: 4.4vw;
	margin-top: 2vw;
	margin-left: 2vw;
	padding-left: 2vw;
	width: 41vw;
	font-size: 3vw;
	color: #BE6646;
}

.login button {
	margin-top: 5.5vw;
	width: 56.25vw;
	height: 7.5vw;
	font-size: 6vw;
	font-weight: bold;
	background-color: #BE6646;
	color: #EEDFCF;
	border-radius: 2vw;
	border: none;
}

.bolsista-info {

}