<div class="date">
	<img class="icon" src="" alt="">
	<h1>{{ this.selectedDay.format("DD/MM/YYYY") }}</h1>
</div>
<h3 *ngIf="alunosDiaIgrejota.length <= 0">Nenhum aluno presente</h3>
<h3 *ngIf="alunosDiaIgrejota.length > 0">Alunos Presentes</h3>
<ul>
	<li *ngFor="let presenca of alunosDiaIgrejota">
		<p>{{ presenca.aluno.nome }}</p>
		<button *ngIf="auth.loggedIn()" (click)="remover(presenca)">Remove</button>
	</li>
</ul>
<div *ngIf="auth.loggedIn()">
	<button (click)="adicionarPresenca()">Marcar Nova Presença</button><br>
</div>
