/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{	
	margin: 0px;
    padding-right: 4.72vw;
    padding-left: 4.72vw;
    background-color: #004C60;
}