/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body{	
	margin: 0px;
    padding-right: 34px;
    padding-left: 34px;
    background-color: #004C60;
}