/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
	margin: 0px;
    background-color: #fff;
}

::placeholder {
	color: #BE6646;
	opacity: 0.2;
}

:-ms-input-placeholder {
	color: #BE6646;
}

::ms-input-placeholder {
	color: #BE6646;
}

.selected {
  background-color: #EFE0D0 !important;
}

button.selected {
  background-color: #495D60 !important;
  color: #A0B6C4;
}
.section-header {
	display: inline-flex;
	padding-top: 5vw;
	color: #BE6646;
	font-size: 3.1vw;
	height: 12vw;
	font-weight: bolder;
}
@media screen (min-width: 700px){
	.section-header {
	padding-top: 25px;
	font-size: 6em;
	height: 120px;
	}
}
.section-header h1 {
	padding-left: 3.1vw;
	width: 69vw;
}

.section-line {
	border: none;
    height: 1.3vw;
	background-color: #BE6646;
	margin: 0;
}

.section-icon {
	padding-top: 2vw;
	max-width: 9.3vw;
	max-height: 9.3vw;
}

.input-search {
	background-color: transparent;
}

.highlight-line {
	float: left;
	width: 0.5vw;
	height: 5vw;
	background-color: #BE6646;
	margin-right: 1vw;
}