<div *ngIf="noticia">
	<h1>Editar Notícia</h1>
	<div class="actions">
		<button *ngIf="noticia.id === -1" class="cancel" (click)="onCancel()">Cancelar</button>
		<button *ngIf="noticia.id !== -1" class="delete" (click)="onDelete()">Deletar</button>
		<button class="save" (click)="onSave()">Salvar</button>
	</div>
	<label>
		<h2>Título da Notícia:</h2> <input class="text-input" [(ngModel)]="noticia.titulo" maxlength="150" placeholder="Título" value="{{noticia.titulo}}">
		<div *ngIf="noticia.titulo === '' && enviado" class="alert-danger">
			É necessario um título para a notícia.
		</div>
	</label><br>
	<label>
		<h2>Descrição:</h2>
		<textarea class="text-input" rows="20" cols="100" maxlength="2000" [(ngModel)]="noticia.conteudo" type="textarea" placeholder="Descrição">{{noticia.conteudo}}</textarea>
		<div *ngIf="noticia.conteudo === '' && enviado" class="alert-danger">
			É necessario uma descrição.
		</div>
	</label><br>
	<label>
		<h2>Imagem Escolhida: {{ noticia.imagemDestaque }}</h2> 
		<div class="file-input">Escolher Imagem</div>
		<input (change)="update(noticia.imagemDestaque, $event)" type="file">
	</label>
</div>
<app-page-not-found *ngIf="!noticia"></app-page-not-found>